.shadow {
  filter: drop-shadow(30px 30px rgba(0, 0, 0, 0));
}
.label {
  transform: translateY(-6vh);
  position: relative;
  z-index: -1;
  height: 14rem;
  width: 28rem;

  clip-path: polygon(
    0 0,
    85% 0%,
    100% 25%,
    100% 75%,
    85% 100%,
    0 100%,
    0% 80%,
    0% 20%
  );

  border-radius: 15px;
  background: radial-gradient(circle at 80% 50%, transparent 7%, #f4d588 7%);
}

/* center vertically!!! */
.label .labelContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-family: "Aleo-Black";
  /* margin: auto; */
  /* top: 50%; */
  max-width: 60%;

  vertical-align: middle;

  position: absolute;
}

.readMore {
  font-family: "Now-Light";
  font-size: 1.5rem;
  color: black;
}
.label .labelContent h1 {
  font-family: "Now-Medium";
  font-size: 2.2rem;
  color: black;
}
.label .labelContent h2 {
  font-family: "Now-Light";
  font-size: 1.3vw;
  color: black;
}
.buttonLabel {
  font-family: "Now-Medium" !important;
  font-size: 0.8vw !important;
  text-align: left !important;
  align-items: left !important;
}

.label .labelContent p {
  margin-bottom: 0;
  font-size: 1.1vw;
}

.label button {
  height: 2.5vw;
  padding: 0;
  margin-top: 0.5vw;
  width: 6vw !important;
  min-width: 6vw !important;
  text-align: left !important;
  float: right;

  clip-path: polygon(
    0 0,
    85% 0%,
    100% 25%,
    100% 75%,
    85% 100%,
    0 100%,
    0% 80%,
    0% 20%
  ) !important;

  border-radius: 0.5vw;
  background: radial-gradient(circle at 80% 50%, transparent 7%, #fdf5e1 7%);
}

.button {
  z-index: 1;
}
.label .circle {
  right: 5%;
  position: absolute;
  top: 33%;
  background: #f8e7ba;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}

.labelContainer {
}

.infoLabel {
  position: relative;
  z-index: -1;
  /* min-height: 24rem; */
  width: 28vw;
  clip-path: polygon(85% 0, 100% 20%, 100% 75%, 100% 100%, 0 100%, 0 0);
  box-shadow: 1px 1px 5px teal;
  background-color: #f4d588;
}

.infoLabel::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 4vw solid #fac94f00;
  border-right: 4.4vw solid transparent;
  -webkit-box-shadow: -7px 7px 7px rgba(0, 0, 0, 1);
  -moz-box-shadow: -7px 7px 7px rgba(0, 0, 0, 1);
  box-shadow: 0 0 0  white;
}

.infoLabel::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 3.8vw solid transparent;
  border-left: 3.8vw solid transparent;
}

.infoLabel .labelContent h1 {
  margin-top: 1rem;
  font-family: "Now-Medium";
  font-size: 1.6vw;
  color: black;
}
.infoLabel .labelContent h2 {
  font-family: "Now-Light";
  font-size: 1.1vw;
  color: black;
}
.infoLabel .labelContent p {
  width: 110%;
  line-height: 1.4vw;
  font-family: "Aleo-Light";
  font-size: 1.1vw;
  color: black;
}

.infoLabel .labelContent .link {
  cursor: pointer;
  color: #0d6efd;
  text-decoration: underline;
}

.infoLabel .labelContent .link:hover {
  color: #0a58ca;
}

.buttonLabel {
  font-family: "Aleo-Bold";
}

.infoLabel .labelContent {
  width: 80%;
}
.infoLabel .labelContent .divider {
  margin: 1rem 0;
  border: solid 4px black;
  border-radius: 15px;
  width: 110%;
  opacity: 1;
  height: 1px;
}

@media only screen and (max-width: 600px) {
  .label {
    height: 10em;
    width: 16em;
  }
  .label .labelContent h1 {
    font-size: 1.5em;
  }
  .label .labelContent h2 {
    font-size: 1.2em;
  }
  .buttonLabel {
    font-family: "Aleo-Bold";
    font-size: 1em;
  }
  .button {
    width: 2em !important;
    height: 2em !important;
  }
}
