.sideDrawer {
  height: 100%;
  background-color: #f4d588de;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(20vw);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.sideDrawer.open {
  transform: translateX(0);
}

.listItem {
  width: 100%;
  height: 7vmin;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}

.listItem:hover {
  background-color: #fcf7ed;
}

.listItemText {
  width: 100%;
  font-family: "Now-Regular";
  font-size: 2.5vmin;
  margin: 0 2vmin;
  line-height: 7vmin;
}

.footer {
  width: 100%;
  height: 14vmin;
  position: absolute;
  bottom: 0;
  background-color: #fcf7ed;
  padding: 1vmin;
}

.logo {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  max-width: 45%;
}

.footerText > h2 {
  font-size: 1vw;
  font-family: "Aleo-Bold";
  margin-top: 1vmin;
}

.footerText > h3 {
  margin-top: 0vmin;
  font-size: 1vmin;
  font-family: "Aleo-Light";
}

.footer:hover {
}

.showButton {
  position: absolute !important;
  right: 10px !important;
  top: 0 !important;
  z-index: 199;
  
}

.closeIconContainer {
  max-width: 100%;
  height: 5vmin;
  margin-bottom: 2vmin;
}

.closeIcon {
  fill: black !important;
  font-size: 2vmax !important;
  max-width: 100%;
}
