@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.frontPageBackground {
  width: 100vw;
  height: 100vh;
  background-image: url("/background_photo.png");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.iconButton {
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  height: 15%;
  filter: opacity(1) !important;
  top: 40% !important;
  width: 5% !important;
}

.imgGalleryPhoto {
  height: 100%;
  width: 100%;
  text-align: center;
  object-fit: contain;
}

.carousel-item {
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}
.carousel {
  height: 100%;
}
.carousel > * {
  position: inherit;
}

.carousel-caption > * {
  color: black;
  background-color: white;
}

@font-face {
  font-family: "Now-Black";
  src: url(/fonts/Now/Now-Black.otf) format("opentype");
}
@font-face {
  font-family: "Now-Bold";
  src: local("Now-Bold"), url(/fonts/Now/Now-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Now-Light";
  src: local("Now-Light"), url(/fonts/Now/Now-Light.otf) format("opentype");
}

@font-face {
  font-family: "Now-Medium";
  src: local("Now-Medium"), url(/fonts/Now/Now-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Now-Regular";
  src: local("Now-Regular"), url(/fonts/Now/Now-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Aleo-Bold";
  src: local("Aleo-Bold"), url(/fonts/Aleo/Aleo-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Aleo-Regular";
  src: local("Aleo-Regular"),
    url(/fonts/Aleo/Aleo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Aleo-Light";
  src: local("Aleo-Light"), url(/fonts/Aleo/Aleo-Light.ttf) format("truetype");
}

body {
  /* background: none!important;
  background-color: transparent!important; */
}

.ReactPiano__Keyboard {
  height: 40vh !important;
  width: 100% !important;
  margin-bottom: 2rem;
}

.museum-page {
  z-index: 1;
  position: absolute !important;
  overflow: hidden;
}

.TransformComponent-module_container__3NwNd {
  overflow: hidden !important;
  width: 100vw !important;
  height: 100vh !important;
}

.MuiTooltip-tooltip {
  background-color: transparent !important;
  background: transparent !important;
}

div[role="toolbar"] {
  background-color: transparent !important;
}

div[role="toolbar"] > button > svg {
  stroke: black;
  stroke-width: 0.8px;
  fill: transparent;
}

.modalContentAdjusted h1 {
  /* color: black; */
  font-family: "Now-Medium";
  /* font-size: 4.5rem; */
}

.modalContentAdjusted p {
  color: black;
  font-family: "Aleo-Light";
  font-size: 2rem;
  margin: 3rem 0;
}

.modalCanvas {
  outline: none;
  overflow: auto;
  background-color: #f4d588de;
  position: absolute;
  left: 10vw;
  top: 50px;
  bottom: 74px;
  width: calc(100vw - 2 * (10vw));
}
.modalCanvasGallery {
  outline: none;
  overflow: auto;
  background-color: #f4d588de;
  position: absolute;
  left: 50px;
  top: 50px;
  bottom: 74px;
  width: calc(100vw - 2 * (50px));
}

.modalBoxContainer {
  margin: 5vw 5vw;
}

.artifactDescription h3 {
  margin-top: calc(3rem + 20px);
  font-family: "Now-Medium";
  font-weight: 300;
  font-size: 2rem;
}

.artifactDescription p {
  margin-top: 0rem;
  margin-bottom: 1rem;
  max-width: 100%;
}
.technicalInformationContainer {
  margin: 12rem 0;
}

.artifactDescription td {
  margin-right: 2rem;
}

.image-gallery-icon {
  color: white;
  filter: none;
}

.image-gallery-icon:hover {
  color: #615b63;
  filter: none;
}

.image-gallery-thumbnail.active {
  border: 4px solid #615b63;
}

.image-gallery-thumbnail {
  border: 4px solid #615b637c;
}

.image-gallery-thumbnail:hover {
  border: 4px solid white;
}

image-gallery-icon image-gallery-left-nav {
    fill: black;
}

.technicalInformation h3 {
  margin-top: 3.5rem;
  font-family: "Now-Medium";
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.technicalInformation p {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.technicalInformation ul div {
  font-family: "Aleo-Light";
  font-size: 2rem;
  margin-top: 1rem;
}

.technicalInformation ul {
  padding-left: 1.13rem !important;
  list-style: square;
}

.MuiBox-root-1 {
  padding-top: 0px !important;
}

.boxContainerGallery {
  margin: 0;
  background-color: #f4d688;
}

.modalBoxContainer iframe {
  max-height: 70vw;
}

iframe > * {
  justify-content: left;
}

.modalBoxContainer body {
  justify-content: left !important;
  align-items: left !important;
}

.vp-center {
  justify-content: left !important;
  align-items: left !important;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 4rem !important;
}

.closeIcon {
  z-index: 1;
  position: fixed;
  top: 7.5vh;
  right: 12vw;
}

.closeIcon .MuiSvgIcon-root {
  outline: none;
  font-size: 3rem;
  fill: black;
}
.closeIcon .MuiSvgIcon-root:hover {
  outline: none;
  font-size: 3.2rem;
  fill: black;
}

.boxContainer {
  overflow: auto;
}

.boxContainer h1 {
  margin-block-start: 0;
  font-family: "Aleo-Bold";
  font-size: 5vw;
}

.boxContainer p {
  margin-block-start: 0;
  font-family: "Aleo-Light";
  font-size: 3vw;
}

@media only screen and (max-width: 600px) {
  .modalBoxContainer {
    padding: 16px !important;
    margin: 0 0 0 0;
  }

  .closeIcon .MuiSvgIcon-root {
    outline: none;
    margin-right: -0.8rem;
    margin-top: -0.8rem;
    font-size: 1.5rem;
    fill: black;
  }
  .closeIcon .MuiSvgIcon-root:hover {
    outline: none;

    font-size: 1.6rem;
    fill: black;
  }
  .modalCanvas {
    outline: none;
    overflow: auto;
    background-color: #f4d588de;
    position: absolute;
    left: 10vw;
    top: 50px;
    bottom: 74px;
    width: calc(100vw - 2 * (10vw));
  }

  .modalContentAdjusted h1 {
    /* color: black; */
    font-family: "Now-Medium";
    font-size: 2rem;
  }

  .modalContentAdjusted p {
    color: black;
    font-family: "Aleo-Light", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  .artifactDescription h3 {
    margin-top: calc(0.5rem + 20px);
    font-family: "Now-Medium";
    font-weight: 300;
    font-size: 1.5em;
  }

  .artifactDescription p {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .technicalInformation h3 {
    margin-top: 1.5rem;
    font-family: "Now-Medium";
    font-weight: 300;
    font-size: 1.5em;
    /* margin-bottom: 1rem; */
  }
  .technicalInformation p {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .technicalInformation ul div {
    font-family: "Aleo-Light";
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .technicalInformation ul {
    /* padding-left: 1rem; */
  }
}
