.frontPageLabel {
  position: absolute !important;
  top: 45vh !important;
  right: 10px !important;
  z-index: 1;
}
.frontPageLabel > div > div > div {
  background: radial-gradient(
    circle at 80% 50%,
    transparent 7%,
    #fcf7ed 7%
  ) !important;
}

.frontPageLabel > div > div > div > div > div > div > h1 {
  font-family: "Aleo-Bold" !important;
  text-align: center !important;
}

.centeredLabel {
  position: absolute !important;
  top: 50vh !important;
  right: 53vw !important;
  z-index: 2;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background-image: url("/ink.png") no-repeat 0 0;
  background-size: 100% 100%;
}

/* .cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
} */
.transitionOpening {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  height: 100vh;
  /* our sprite is composed of 25 frames */
  width: 2500vw;
  background: url("/ink.png") no-repeat 0 0;
  background-size: 100% 100%;
  animation: cd-sequence 1.4s steps(24);
  animation-fill-mode: forwards;
}
.bgLayer {
  animation: cd-sequence 1.4s steps(24);
  animation-fill-mode: forwards;
}

.allArrows {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.supermarketArrow {
  position: absolute;
  top: 80%;
  left: 38.2%;
  transform: rotate(-32deg);
  box-shadow: green 1px;
  z-index: 1;
  transition: left 0.2s ease-in-out, transform 0.5s ease-in-out,
    bottom 0.6s ease-in-out, left 0.6s ease-in-out;
}

.supermarketArrow:hover {
  bottom: 6%;
  left: 38%;
  transform: rotate(-32deg);
}

.gardenArrow {
  position: relative;
  bottom: 4%;
  left: 58%;
  transform: rotate(42deg);
  box-shadow: green 1px;
  z-index: 1;
  transition: left 0.2s ease-in-out, transform 0.5s ease-in-out,
    bottom 0.6s ease-in-out, left 0.6s ease-in-out;
}

.gardenArrow:hover {
  bottom: 5%;
  left: 58.2%;
  transform: rotate(42deg);
}

.landingImageContainer {
  overflow: hidden;
  position: relative;
  width: 70vw;
}

.enterSupermarket {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 40vw;
  height: 30vw;
}

.enterGarden {
  position: absolute;
  right: 2%;
  top: 8%;
  width: 40vw;
  height: 30vw;
}

.landingImage {
  height: 100%;
  width: 100%;
  display: block;
}
