.frontPageLabel {
  position: absolute !important;
  top: 40vh !important;
  left: 29vw !important;
  z-index: 1;
}

.frontPageLabelBlind {
  position: absolute !important;
  top: 40vh !important;
  left: 29vw !important;
  z-index: 1;
}

.frontPageLabel > div > div > div > div > div > div {
  max-width: 70% !important;
  top: 53% !important;
}

.frontPageLabel > div > div > div {
  background: radial-gradient(
    circle at 80% 50%,
    transparent 7%,
    #f4d688 7%
  ) !important;
}

.frontPageLabel > div > div > div > div > div > div > h1 > h1 {
  text-align: center !important;
  font-family: "Now Medium";
  font-size: 1.8vw !important;
  margin-left: -2vw;
  margin-bottom: 0 !important;
}

.centeredLabel {
  position: absolute !important;
  top: 50% !important;
  right: 49% !important;
  z-index: 2;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background-image: url("/ink.png") no-repeat 0 0;
  background-size: 100% 100%;
}

/* .cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
} */
.transitionOpening {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  height: 100vh;
  /* our sprite is composed of 25 frames */
  width: 2500vw;
  background: url("/ink.png") no-repeat 0 0;
  background-size: 100% 100%;
  animation: cd-sequence 1.4s steps(24);
  animation-fill-mode: forwards;
}
.bgLayer {
  animation: cd-sequence 1.4s steps(24);
  animation-fill-mode: forwards;
}

.allArrows {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.supermarketArrow {
  position: absolute;
  top: 80%;
  left: 38.2%;
  transform: rotate(-32deg);
  box-shadow: green 1px;
  z-index: 1;
  transition: left 0.2s ease-in-out, transform 0.5s ease-in-out,
    bottom 0.6s ease-in-out, left 0.6s ease-in-out;
}

.supermarketArrow:hover {
  bottom: 6%;
  left: 38%;
  transform: rotate(-32deg);
}

.gardenArrow {
  position: relative;
  bottom: 4%;
  left: 58%;
  transform: rotate(42deg);
  box-shadow: green 1px;
  z-index: 1;
  transition: left 0.2s ease-in-out, transform 0.5s ease-in-out,
    bottom 0.6s ease-in-out, left 0.6s ease-in-out;
}

.gardenArrow:hover {
  bottom: 5%;
  left: 58.2%;
  transform: rotate(42deg);
}

.landingImageContainer {
  overflow: hidden;
  position: relative;
  width: 70vw;
}

.enterSupermarket {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 40vw;
  height: 30vw;
}

.enterGarden {
  position: absolute;
  right: 2%;
  top: 8%;
  width: 40vw;
  height: 30vw;
}

.landingImage {
  height: 100%;
  width: 100%;
  display: block;
}

.supermarketMiniContainer,
.gardenMiniContainer {
  /* border: 2px solid black; */
}
.supermarketMiniContainer {
  animation: float 12s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 5vw;
  margin: 0 auto;
  width: 40vw;
  height: 40vw;
  background: white;
  mask-image: radial-gradient(rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0) 90%);

  mask-position: center;
  /* mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 0, 0, 0) 70%
  ); */
  border-radius: 100%;
  cursor: pointer;
}

.gardenMiniContainer {
  animation: float 12s ease-in-out infinite;
  position: absolute;
  top: 50%;
  right: 5vw;
  margin: 0 auto;
  width: 40vw;
  height: 40vw;
  background: white;
  mask-image: radial-gradient(rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0) 90%);
  mask-position: 1rem 1rem, center;
  border-radius: 100%;
  cursor: pointer;
}

@keyframes clip-fade {
  0% {
    mask-image: radial-gradient(rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 90%);
  }
  100% {
    mask-image: radial-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.supermarketMiniContainer:hover,
.gardenMiniContainer:hover {
  mask-size: contain;

  animation: float 12s ease-in-out infinite, clip-fade 12s linear infinite;
}

.supermarketMini,
.gardenMini {
  border-radius: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  transition: height 0.2s ease-in, object-position 0.5s ease-in;
}
.supermarketMini {
  object-position: 30% 80%;
}

.supermarketMini:hover {
}

.gardenMini:hover {
}

.textCentered {
  background: white;
  position: absolute;
  margin: 0 12.5%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 25%;
}

.gardenTitle .landingImage {
  overflow: hidden;
}

.gardenTitle,
.supermarketTitle {
  font-family: "Now-Regular";
  font-size: 1.5vw;
  margin: 2.5vw;
  text-align: center;
}

.chooseModal {
  outline: none;
  overflow: auto;
  background-color: #f4d588de;
  position: absolute;
  left: 35vw;
  top: 50%;

  width: calc(100vw - 2 * (35vw));
  transform: translateY(-50%);
}

.chooseModalIcon {
  z-index: 1;
  position: fixed;
  right: 0;
}

.centerClickField {
  position: absolute;
  background-color: transparent;
  top: 50%;
  height: 35vh;
  width: 35vh;
  margin: 0 auto;
  margin-left: -15vh;
  border-radius: 100%;
  transform: translateY(-50%);
}

@keyframes float {
  0% {
    mask-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 30%,
      rgba(0, 0, 0, 0) 70%
    );
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-48%) scale(1.02);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes float-hovered {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%) scale(1);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-45%) scale(1.1);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%) scale(1);
  }
}
