.mapImage {
  height: auto;
  width: 100vw;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 0.3vh;
  height: 0.3vh;
  background: red;
  border-radius: 50%;
}

.black {
  background-color: black;
  animation: fill-black 1s ease-in;
}

@keyframes fill-black {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tools {
  z-index: 1;
  position: absolute;
  font-family: "Aleo-Black";
  font-size: 2rem;
  left: 1rem;
  top: 1rem;
}

.tools > button {
  background-image: url("/magnifying-glass.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  color: transparent !important;
  width: 2rem !important;
  max-width: 2rem !important;
  border-radius: 0% !important;
  box-shadow: 0 !important;
  border: 0px black solid;
  background-color: transparent !important;
}
.arrowContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.returnArrow {
  position: absolute;
  bottom: 0;
  left: 1%;
  transform: rotate(-90deg) scale(0.5);
  box-shadow: green 1px;
  z-index: 1;
  transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.returnArrow:hover {
  left: 0;
  transform: rotate(-90deg) scale(0.6);
}

.allTooltips {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.pin {
  position: absolute;
  background-color: black;
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 25%,
    100% 75%,
    80% 100%,
    0 100%,
    0% 80%,
    0% 20%
  );
  height: 1.5vh;
  width: 2.4vh;
  /* border-radius: 50%; */
}

.pinText {
  font-family: "Aleo-Bold";
  position: absolute;
  top: 55%;
  margin: 0 10%;
  transform: translateY(-50%);
  font-size: 0.8vh;
  line-height: 1.5vh;
  text-align: center;
  color: #f4d588 !important;
}

.pinInfo {
  position: absolute;
  /* background-color: #f4d588; */
  /* clip-path: polygon(85% 0, 100% 20%, 100% 75%, 100% 100%, 0 100%, 0 0); */

  /* border-radius: 50%; */
}

.pinInfo > svg {
  fill: black;
  width: 1.5vh;
  background-color: #f4d588;
  height: 1.5vh;
}

.pin:hover {
  visibility: none;
  animation: pulse 0.2s linear;
}
/* .pin::after {
  content: '';
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.loadingIcon {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 49%;
  left: 49%;
}

.text-primary {
  color: black !important;
}
@media only screen and (max-width: 600px) {
  .pin {
    position: absolute;
    background-color: black;
    clip-path: polygon(
      0 0,
      80% 0%,
      100% 25%,
      100% 75%,
      80% 100%,
      0 100%,
      0% 80%,
      0% 20%
    );
    height: 3.125vh;
    width: 4vh;
    /* border-radius: 50%; */
  }

  .pinText {
    
    font-size: 1.3vh;
    line-height: 2.6vh;
    top: 55%;
  }

  .pinInfo > svg {
    fill: black;
    width: 3.125vh;
    background-color: #f4d588;
    height: 3.125vh;
  }
}
