.GridContainer {
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
}

.GridContainer2 {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 60vw;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > p {
  height: 18vh;
  width: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border: 1px solid green;
  background-color: transparent;
  transition: background-color 0.2s ease-in;
}

.GridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridItemHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.GridItem > .buttonContainer {
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1vh; */

  background-color: lightcoral;
  transition: background-image 0.2s;
  /* background-image: url("/utility_images/locker.png"); */
  background-size: contain;
}

.GridItem > .buttonContainerSelected {
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1vh; */

  background: rgba(144, 238, 144, 0.29) !important;
  transition: background-image 0.2s;
  /* background-image: url("/utility_images/locker.png"); */
  background-size: contain;
}

.GridItem > .buttonContainer:active,
.buttonContainer:hover {
  background-color: lightblue;
  /* background-image: url("/utility_images/locker_open.png"); */
}

.ProceedButton {
  z-index: 1;
}

.indicator {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
}
.ImageHover {
  position: absolute !important;
  top: 10% !important;
  width: 500px !important;
}

.GridItem > .Image_buttonContainer {
  height: 16vh;
  width: 16vh;

  justify-content: center;
  align-items: center;
  /* padding: 1vh; */

  /* background-color: lightcoral; */
  transition: background-image 0.2s;
  background-size: contain;
}

.GridItem > .Image_buttonContainerSelected {
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1vh; */

  /* background: rgba(144, 238, 144, 0.29) !important; */
}

.GridItem > .Image_buttonContainerSelected::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
}

.GridItem > .Image_buttonContainer:active,
.buttonContainer:hover {
  background-color: lightblue;
  /* background-image: url("/utility_images/locker_open.png"); */
}

.text {
  font-size: 1rem !important;
}
